<%= form_with(model: [@task_list, @task], local: true) do |f| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger">
      <h6 class="alert-heading mb-2">Please fix the following <%= pluralize(@task.errors.count, "error") %>:</h6>
      <ul class="mb-0">
        <% @task.errors.full_messages.each do |m| %><li><%= m %></li><% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :title, "Título", class: "form-label" %>
    <%= f.text_field :title,
          class: "form-control #{'is-invalid' if @task.errors[:title].present?}",
          required: true %>
    <% @task.errors[:title].each do |msg| %>
      <div class="invalid-feedback d-block"><%= msg %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :description, "Descrição", class: "form-label" %>
    <%= f.text_area :description, rows: 4,
          class: "form-control #{'is-invalid' if @task.errors[:description].present?}",
          required: true,
          placeholder: "Detalhes da tarefa" %>
    <% @task.errors[:description].each do |msg| %>
      <div class="invalid-feedback d-block"><%= msg %></div>
    <% end %>
  </div>

  <div class="row g-3">
    <div class="col-md-4">
      <%= f.label :priority, "Prioridade", class: "form-label" %>
      <%= f.number_field :priority, in: 1..5, step: 1,
            class: "form-control #{'is-invalid' if @task.errors[:priority].present?}",
            required: true %>
      <% @task.errors[:priority].each do |msg| %>
        <div class="invalid-feedback d-block"><%= msg %></div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= f.label :status, "Status", class: "form-label" %>
      <%= f.select :status,
            Task.statuses.keys.map { |s| [s.titleize, s] },
            {},
            class: "form-select #{'is-invalid' if @task.errors[:status].present?}",
            required: true %>
      <% @task.errors[:status].each do |msg| %>
        <div class="invalid-feedback d-block"><%= msg %></div>
      <% end %>
    </div>
  </div>

  <div class="d-flex gap-2 mt-3">
    <%= f.submit(@task.persisted? ? "Atualizar Tarefa" : "Criar Tarefa", class: "btn btn-primary") %>
    <%= link_to "Cancelar", task_list_path(@task_list), class: "btn btn-outline-secondary" %>
  </div>
<% end %>